    .line {
        height: 2px;
        border: #cbd1e0 2px solid
    }

    .pageborder {
        border-right: #cbd1e0 2px solid;
        border-top: #cbd1e0 1px solid;
        background: none transparent scroll repeat 0% 0%;
        border-left: #cbd1e0 1px solid;
        color: #000000;
        border-bottom: #cbd1e0 2px solid
    }

    .text1 {
        font-size: 16pt;
        color: #0066cc;
        font-variant: small-caps;
        font-family: 'century schoolbook'
    }

    .text2 {
        font-size: 24pt;
        text-transform: uppercase;
        color: #0000cc;
        font-family: 'century schoolbook'
    }

    .text3 {
        font-size: 13pt;
        color: #0066cc;
        font-variant: small-caps;
        font-family: 'century schoolbook'
    }

    .headborder {
        border-right: #cbd1e0 2px solid;
        border-top: #cbd1e0 1px solid;
        background: none transparent scroll repeat 0% 0%;
        border-left: #cbd1e0 1px solid;
        color: #000000;
        border-bottom: #cbd1e0 2px solid
    }

    .textborder {
        border-right: #cbd1e0 2px solid;
        border-top: #cbd1e0 0px solid;
        background: none transparent scroll repeat 0% 0%;
        border-left: #cbd1e0 1px solid;
        color: #000000;
        border-bottom: #cbd1e0 2px solid
    }

    .headtext {
        font-size: 13pt;
        color: #0066cc;
        /*font-variant: small-caps;*/
        font-family: 'century schoolbook'
    }

    .tabletext {
        font-size: 10pt;
        color: #0066cc;
        /*font-variant: small-caps;*/
        font-family: 'century schoolbook'
    }
